* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator-container {
  display: flex;
  flex-direction: column;
  border-style: none;
  border-width: 2px;
  height: 600px;
  width: 500px;
  border-style: solid;
  border-width: 10px;
  border-color: gray;
}

.number-screen{
  flex: 1.5;
  border-style: none;
  background-color: gainsboro;
  border-style: solid;
  border-width: 10px;
  text-align: right;
}
.button-section{
  flex: 5;
  display: flex;
}

.numbers-and-auxilary-operators{
  flex: 3;
  display: flex;
  flex-direction: column;
}

.auxilary-operators{
  flex: 1;
  display: flex;
}

.clear, .change-sign, .percentage{
  flex: 1;
}

.numbers {
  flex: 4;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.upper-numbers, .middle-numbers, .bottom-numbers, .number0-dot{
  display: flex;
  flex: 1;
}

.number{
  flex: 1;
}

.number0-dot{
  display: flex;
}
.number0.unit{
  flex-basis: 240.54px;
}
.number-dot{
  flex: 1;
}


.operators{
  flex: 1;
  display: flex;
  flex-direction: column;
}

.divide, .multiply, .subtract, .add, .equal-sign{
  flex: 1;
}

/* Unit represents all the smallest blocks presented on the calculator */
.unit {
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  font-size: 40px;
}


/*Giving color to each unit*/
.button-section{
  background-color: black;
}
.number.unit, .number0.unit, .number-dot{
  background-color: green;
}

.clear.unit, .percentage.unit, .change-sign.unit{
  background-color: rgb(74, 74, 225);
}

.add.unit, .subtract.unit, .multiply.unit, .divide.unit, .equal-sign.unit{
  background-color: rgb(221, 144, 0);
}

